<a href="https://colab.research.google.com/github/Priyansh4615/NLP/blob/main/Named_Entity_Recognition_(NER).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import spacy

nlp = spacy.load("en_core_web_sm")

In [2]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [4]:
doc = nlp("Tesla Inc is going to acquire twitter for $45 billion")

for ent in doc.ents:
  print(ent.text , " | " , ent.label_ , " | " , spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
$45 billion  |  MONEY  |  Monetary values, including unit

In [ ]:
from spacy import displacy

displacy.render(doc , style = "ent")

In [7]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [8]:
doc = nlp("Michael Bloomberg founded Bloomberg L.P in 1982")

for ent in doc.ents:
  print(ent.text , " | " , ent.label_ , " | " , spacy.explain(ent.label_))

Michael Bloomberg  |  PERSON  |  People, including fictional
Bloomberg  |  PERSON  |  People, including fictional
1982  |  DATE  |  Absolute or relative dates or periods

In [9]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
  print(ent.text , " | " , ent.label_)

Twitter  |  ORG
$45 billion  |  MONEY

In [11]:
type(doc[2:5])

spacy.tokens.span.Span

In [14]:
from spacy.tokens import Span

s1 = Span(doc , 0 , 1 , label = "ORG")
s2 = Span(doc , 5 , 6 , label = "ORG")

doc.set_ents([s1, s2] , default = "unmodified")

In [15]:
for ent in doc.ents:
  print(ent.text , " | " , ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY